/****************************************************************
 *																*		
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
*{margin:0;padding:0}
body,html{color:#333;background:#fff;font-size:14px;line-height:1.5;font-family:"Microsoft YaHei","Lucida Grande",Verdana,Lucida,Arial,Helvetica,宋体,sans-serif}
img{display:block;}
ol,ol li,ul,ul li{list-style:none}
a{text-decoration:none}
a:hover {color:#38bbff;}
a img{border:none}
 article img {max-width: 100%;}
.announcement,.service{width:1310px}
.header {width:1310px;}
.clear{clear:both;zoom: 1;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
FORM,INPUT,SELECT{display:inline;font-size:1em}
.wrapper{width:100%;height:auto;overflow:hidden;position:relative}
.wrapper #header{width:100%;height:50px;background:#344047;line-height:32px;position:fixed;top:0;z-index:9999}
.header{margin:0 auto;display:flex;display:-webkit-flex;justify-content:space-between}
.header_l{font-size:12px;color:#c4c4c4}
.header_r a{font-size:16px;color:#b2babf;line-height: 50px;}
.header_r a p{display:inline;}
.header_r a:hover{color:#fff}
@media screen and (max-width:1350px){
    .header {width:100%; box-sizing:border-box; padding:0 20px;}
}
@media screen and (max-width:768px){
   .header {padding:0 12px;} 
}

video{ background-color: #000;}

#nav{width:100%;height:74px;background:#fff;box-shadow:0 1px 1px rgba(0,0,0,.1);overflow:hidden;position:fixed;top:50px;z-index:9999}
.nav{width:1310px;line-height:74px;margin:0 auto;position:relative;border-bottom:1px solid #eee;height:74px}
img.logo{width:auto;float:left; margin-top: 16px;}
h3.company{font-size:24px;color:#2b2b2b;padding-left:40px;float:left}
.nav ul.ul{float:right;}
.nav ul.ul>li{float: left;position:relative;}
.nav ul.ul>li>a{font-size:14px;color:#575757;padding:0 15px;display:block;position:relative}

.nav ul.ul>li:last-child a{padding:0 20px}
.nav ul.ul>li:hover>a , .nav ul.ul>li.active>a{background-color:#f8f8f8 ; color:#38bbff;}
.nav ul.ul>li:hover>a:after , .nav ul.ul>li.active>a:after{content:'';position:absolute;top:0;left:0;width:100%;height:2px;background:#38bbff}
.nav ul.ul>li.pro:hover ul.childUl{display:block}
ul.childUl{position:absolute;top:74px;right:0;width:148px;box-sizing:border-box;background:#fff;border:1px solid #eee;padding:8px 0;z-index:9999;display:none}
ul.childUl li a{text-indent:32px;display:block;height:52px;line-height:40px;color:#575757;text-align:left}


.navs{position:relative;box-sizing:border-box;padding:9px 0;cursor:pointer;float:right;display:none;top:0;width:30px;height:60px;}
.navs:hover span{background:#38bbff}
.navs span{display:block;width:100%;height:4px;background:#333;border-radius:2px;position:absolute;top: 20px;transition:all .5s;}
.navs span.active:nth-child(1){transform:translateY(7px) rotate(45deg);transition:all .5s}
.navs span.active:nth-child(3){transform:translateY(-9px) rotate(-45deg);transition:all .5s}
.navs span:nth-child(2){top: 28px;}
.navs span:nth-child(3){top: 36px;}

.headerSearch{ margin-right: 10px; position: absolute; top: 0px; right: 20px; z-index: 100; }
.headerSearch input{ width:460px;height:34px; line-height:34px;border:1px solid #eee;border-radius:17px;box-sizing:border-box;outline:0;padding:0 20px;}
.headerSearch input+i{position:absolute;right:5px;top:50%; transform: translateY(-50%); padding: 0 15px; }


@media screen and (max-width:1350px){
    .nav{width:96%;}
    #indexSearch{ width: 100%; box-sizing: border-box; margin: 0 auto; position: relative;  }
    .headerSearch{ right: 6px; }
}
@media screen and (max-width:1350px){
    h3.company{display:none}
}

@media screen and (max-width:960px){
    .nav ul.ul {display:none;}
    .navs {display:block;}
    img.logo {height:34px; margin-top:12px;}
    #nav {height:60px;}
    #indexSearch{ width: 100%; box-sizing: border-box; margin: 0 auto; position: relative;  }
    .headerSearch input{ width: 330px;}
}

#bodyer{padding-top:124px}
@media screen and (max-width:960px){#bodyer{padding-top: 112px;}
}
.banner , #banner{width:100%;height:auto;overflow:hidden}
.banner.swiper-container{width:100%;height:auto}
.banner img , #banner img{width:100%;height:auto}
@media screen and (max-width:1350px){
/* .banner.swiper-container{} */
.banner.swiper-container img{height: auto;width: 100%;}
.banner.swiper-container .swiper-slide{overflow:hidden}
}
#announcement{width:100%;height:48px;line-height:48px;background: #eee; position: relative; z-index: 10;}
.announcement{width:1310px;height:100%;margin:0 auto;box-sizing:  border-box; overflow: visible;}
.announcement a{font-size:14px;color: #666; display: block; width: 46%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.announcement a:hover{color:#38bbff}
@media screen and (max-width:1350px){
    .announcement{width:90%;}
}
@media screen and (max-width:768px){
    .announcement{width:100%; padding:0 12px;}
    #announcement {height:36px; line-height:36px;}
    .announcement a{font-size:12px;}
    .headerSearch{ top: 40px;}
}


#service{width:100%;height:auto}
#service h3{font-weight:400;font-size:24px;color:#575757;text-align:center;padding-top:68px}
#service .desc{font-size:14px;color:#888;text-align:center;padding-top:15px}
.content{width:1310px;height:328px;margin:0 auto;padding-top:65px;position:relative}
.service{width:94%;height:328px;margin:0 auto}
.service .swiper-slide{height:260px}
.ser_details img{margin:0 auto;padding-bottom:42px;height:90px;width:auto;text-align:center}
.ser_details dl dt{text-align:left;font-size:16px;padding-bottom:10px;position:relative;border-bottom:1px solid #e5e5e5;margin-bottom:10px}
.ser_details dl dt:after{position:absolute;bottom:-1px;left:0;content:'';width:100px;height:1px;background:#333}
.ser_details dl dd{font-size:12px;color:#a1a1a1;line-height:24px}
.service-button-next,.service-button-prev{background-size:60%!important}
@media screen and (max-width:1350px){.content{width:96%}
}
@media screen and (max-width:750px){.service{width:90%}
.announcement a, .announcement span{ width: 86%;}
}
#bodyProduct{background:#ecf3f7;height:auto; position:relative;text-align:center ;z-index: 3;}
#bodyProduct h3{font-weight:400;font-size:24px;color:#575757;text-align:center;padding-top:48px}
#bodyProduct .desc{font-size:14px;color:#888;text-align:center;padding-top:15px}
.pro_desc{padding:36px 0 26px 0}
.pro_desc a{border:1px solid #dcdcdc;background:#fff;color:#888;font-size:14px;display:inline-block;width:98px;height:36px;line-height:34px;text-align:center;margin:0 10px}
.pro_desc a:hover{background:#344047;color:#fff;border-color:#344047;transition:all .3s}
.bodyProduct{width:1730px;height:auto;margin:0 auto}
.product{width:100%;height:auto;padding-bottom:150px}
.product img{width:100%;height:auto}
.product .swiper-slide img a{height:auto;}
.product .swiper-slide>a{display:block;}
.product .swiper-slide a p{width:100%;line-height:48px;font-size:16px;color:#333;text-align:center;border-bottom:1px solid #dcdcdc;overflow:hidden;}
.icon-spaceil{font-size:30px;color:#b3b3b3;padding:2px;border:1px solid #e5e5e5;background:#fff;position:absolute;top:78%;left:50%;width:48px;height:48px;display:block;box-sizing:border-box;margin-left:-24px}
.icon-spaceil:hover{color:#38bbff;cursor:pointer;background:#16c2c2;color:#fff;border-color:#16c2c2;transition:all .3s}
.product .product-button-next{top:83%;right:44%;background-size:70%}
.product .product-button-prev{top:83%;left:44%;background-size:70%}

@media screen and (max-width:1750px){
    .bodyProduct{width:90%}
    
}
@media screen and (max-width:768px){
    #bodyProduct h3 {padding-top:60px; font-size:22px;}
    #bodyProduct .desc {padding-top:10px;}
    .pro_desc {padding:20px 0 10px 0;display:  flex;flex-wrap:  wrap;justify-content: center;}
    .pro_desc a {font-size:12px;width:auto;padding:0 8px;margin:0 4px;height:30px;line-height:30px;margin-bottom: 5px;}
    .product {padding-bottom:100px;}
    .icon-spaceil {top: 70%;}
    .product .product-button-prev {left:30%;top: 79%;}
    .product .product-button-next {right:30%;top: 79%;}
}
#aboutUs{width:100%;/* height:auto; */margin:0 auto;position:relative;padding:70px 0;}
.aboutUs{width:1310px;margin:0 auto;display:flex;justify-content:center;position:relative;align-items:flex-start;box-sizing:border-box;}
.aboutUs .video{width:40%;height: auto;margin-right:40px;display:  block;}
.aboutUs .video img {width:100%; height:auto;}
.aboutContent h3{font-weight:400;font-size:24px;color:#575757;line-height:1;padding-bottom:10px}
.aboutContent{width:57%}
.aboutContent .desc{font-size:14px;color:#888}
.aboutContent p{font-size:14px;color:#888;padding:30px 0;line-height:24px}
.aboutContent i{font-size:26px;width:120px;height:40px;background:#f8f8f8;color:#888;display:block;text-align:center;transition:all .3s}
.aboutContent a{display:block;}
.aboutContent i:hover{transition:all .3s;background:#16c2c2;color:#fff}
@media screen and (max-width:1350px){
    .aboutUs{width:90%;}
}
@media screen and (max-width:768px){
    #aboutUs {padding-top:40px; padding-bottom:100px;}
    .aboutUs{width:100%; padding:0 12px; flex-direction:column-reverse;}
    .aboutContent {width:100%;}
    .aboutContent h3 {text-align:center; font-size:22px;}
    .aboutContent .desc {padding:10px 0 20px 0;}
    .aboutUs .video {margin:0 auto; width:90%;}
    .aboutContent a {position:absolute; bottom:-60px; left:50%; transform:translateX(-50%); }
    .aboutContent a i {color:#fff; background:#16c2c2;}
}
#Case{width:100%;height:auto;background:#344047;position:relative}
#Case h3{font-weight:400;font-size:24px;color:#fff;text-align:center;padding-top:68px}
#Case .desc{font-size:14px;color:#fff;text-align:center;padding-top:15px}
.Case{width:1310px;height:auto;padding-bottom:100px;padding-top:50px; box-sizing:border-box;}
.Case .swiper-slide{background:#fff}
.case_details img{width:100%;height:auto}
.case_details a{display:block;padding-bottom:28px}
.case_details dt{text-align:center;font-size:20px;padding: 0 15px;color:#333;font-weight:400;line-height:  30px;height:  30px;overflow:  hidden;margin: 20px 0;}
.case_details dd{font-size:14px;line-height:24px;color:#888;box-sizing:border-box;padding: 0 15px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
#Case .case-pagination{bottom:40px}
#Case .swiper-pagination-bullet{width:12px;height:12px}
#Case .swiper-pagination-bullet-active{background:#fff}
#Case .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{border:1px solid #fff;margin:0 14px}
#Case>a{display:block;margin:0 auto;width:220px;height:40px;padding-bottom:64px}
#Case>a i{display:block;width:100%;height:100%;line-height:38px;font-size:30px;box-sizing:border-box;border:1px solid #657077;text-align:center;color:#657077;transition:all .3s}
#Case i:hover{transition:all .3s;background:#16c2c2;border-color:#16c2c2;color:#fff}
@media screen and (max-width:1350px){
    .Case{width:90%}
}
@media screen and (max-width:768px){
    .Case{width:100%; padding:20px 12px 40px;}
    #Case h3 {font-size:22px; padding-top:40px;}
    #Case .desc {padding-top: 10px;}
    .case_details dt {margin:5px 0; font-size:16px;}
    #Case>a {width:120px;  }
    #Case>a i {background:#16c2c2; color:#fff;}
}

#news{width:100%;height:auto;margin:0 auto;position:relative}
#news h3{font-weight:400;font-size:24px;text-align:center;padding-top:68px;color:#575757}
#news .desc{font-size:14px;color:#888;text-align:center;padding-top:15px}
.news{width:1310px;height:auto;overflow:hidden;margin:0 auto;position:relative;padding-top:30px;display:flex;justify-content:space-between;flex-wrap:wrap}
.news li{width:48%;box-sizing:border-box;display:flex;margin-bottom: 40px;}
.news .img{overflow:hidden;width:25%;margin-right:2.5%}
.news img{width:100%;height:auto}
.news dl{width:72.5%}
.news dl a{font-size:16px;color:#333;line-height: 26px;height: 26px;display:  block;overflow:  hidden;text-overflow:  ellipsis;white-space: nowrap;}
.news dl a:hover{color:#38bbff}
.news dl span{display:block;font-size:12px;color:#b2b2b2;line-height:18px;padding-bottom:9px;border-bottom:1px solid #000;position:absolute}
.news .time{box-sizing:border-box;border-bottom:1px solid #e5e5e5;position:relative;height:28px;margin-bottom: 5px;}
.news .time span:hover{width:100%}
.news dd{font-size: 12px;color:#888;line-height:26px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
#news>a{display:block;margin:0 auto;width:220px;height:40px;margin-top:5px;margin-bottom:70px}
#news>a i{display:block;width:220px;height:40px;line-height:40px;text-align:center;background:#f8f8f8;color:#adadad;font-size:30px;transition:all .3s}
#news>a i:hover{transition:all .3s;background:#16c2c2;color:#fff;font-size:36px}
@media screen and (max-width:1350px){
    .news{width:96%; flex-wrap:wrap;}
}
@media screen and (max-width:768px){
    .news li {width: 100%;margin-bottom: 15px;}
    .news dd {display:none;}
    .news .time {display:block;border-bottom:  none;margin-bottom: 0;height: 20px;}
    .news dl a {height:auto;font-size:14px;line-height:1.5;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space:  normal;}
    .news dl span {border:none;padding-bottom: 0;line-height:  1;padding-top: 8px;}
    
}
#footer{width:100%;height:auto;overflow:hidden;background:#f5f5f5}
.footer_nav{padding:26px 0 46px 0;width:1310px;margin:0 auto;display:flex;justify-content:space-between}
.footer_nav dt a{font-size:16px;line-height:32px;color:#333}
.footer_nav dd a{font-size:14px;line-height:32px;color:#888}
.footer_nav a:hover{color:#2196f3;transition:all .3s}
.footer_nav dd a:hover{text-decoration:underline}
.footer_nav dd{line-height:32px;font-size:14px;color:#888}
.footer_nav .online{width:270px;height:38px;font-size:14px;color:#fff;line-height:38px;text-align:center;display:block;background:#eca241;margin:10px 0 20px 0}
.footer_nav .erwei img{margin:0 auto}
.footer_nav .online:hover{text-decoration:none}
.footer_bottom{padding-top: 10px;padding-bottom: 10px;text-align:center;background:#535353;}
.footer_bottom p{font-size:14px;line-height:32px;color:#b7b7b7}
.footer_bottom p a {color:#b7b7b7; margin-right:14px;}
.footer_bottom p a:hover {color:#fff;}
@media screen and (max-width:1350px){.footer_nav{width:96%}
}
@media screen and (max-width:960px){.footer_nav{display:none}
}
.pagination{width:600px;height:30px;margin:0 auto;text-align:center}
.pagination span{width:55px;height:30px;line-height:30px;font-size:14px;color:#666;display:block;float:left;cursor:pointer;margin:0 5px}
.pagination span:hover{box-sizing:border-box;border:1px solid #3cbcff;color:#3cbcff}
.pagination ul{width:280px;float:left;margin:0 10px}
.pagination ul li{float:left;width:30px;height:30px;border-radius:50%;margin:0 5px;color:#666;line-height:30px;cursor:pointer}
.pagination li.actor,.pagination li:hover{border:1px solid #3cbcff;box-sizing:border-box;color:#3cbcff}
.newPagination{padding:42px 0 50px}
.casePagination{padding:70px 0 45px}
.proPagination{padding:34px 0 45px}
.helpPagination{padding:40px 0 55px}
#pro_nav{width:100%;height:58px;line-height:58px;border-bottom:1px solid #eee;background:#fff}
.pro_nav{width:1310px;height:100%;display:flex;margin:0 auto;justify-content:space-between}
.pro_nav ul li{float:left}
.pro_nav li a{display:block;font-size:16px;color:#333;padding:0 23px;position:relative}
.pro_nav li a.actor,.pro_nav li a:hover{color:#38bbff}
.pro_nav li a.actor::after{content:'';width:100%;height:2px;background:#38bbff;position:absolute;bottom:0;left:0}
.pro_nav input{width:260px;height:34px;border:1px solid #eee;border-radius:18px;outline:0;padding:0 20px;padding-right:35px}
.pro_nav .search{position:relative}
.pro_nav i{display:block;position:absolute;right:20px;color:#000;cursor:pointer;top:0}
.pro_nav i:hover{color:#38bbff}
@media screen and (max-width:1350px){
    .pro_nav {width:90%;}
}
@media screen and (max-width:960px){
    .pro_nav {width: 98%;  flex-wrap: wrap;}
    


}
@media screen and (max-width:768px){
    .pro_nav {width:96%; margin-top: 40px;}
    #pro_nav {height:auto; line-height:40px;}
    .pro_nav li a {padding:0 12px; font-size:14px;}
    .pro_nav .search{ order: 1; margin: 6px 0;}
    .pro_nav ul{ order: 2;}

}
#proList{width:100%;height:auto;position:relative}
.proList{width:1320px;height:auto;overflow:hidden;margin:0 auto;display:flex;flex-wrap:wrap;padding-top:36px}
.proList a{display:block;width:23%;height:auto;text-align:center;margin-bottom:24px;color:#333;border:1px solid #eee;-webkit-box-shadow:0 2px 4px rgba(0,0,0,.05);box-shadow:0 2px 4px rgba(0,0,0,.05);-webkit-transition:all .2s linear;transition:all .2s linear;margin-right:1%}
.proList a:hover{-webkit-box-shadow:0 10px 20px rgba(226,226,226,.8);box-shadow:0 10px 20px rgba(226,226,226,.8);-webkit-transform:translateY(-10px);transform:translateY(-10px)}
.proList a .img{background:#fff}
.proList a img{width:100%;height:auto}
.proList p{font-size:16px;line-height:56px;height:56px;transition:all .3s;overflow:hidden;border-top:1px solid #eee;padding:0 10px;background:#fff}
.proLlist img{width:100%;height:auto}
.proList a:hover p{color:#fff;background:#38bbff;transition:all .3s}
#Products{width:100%;height:auto;background:#fff}
.Products{width:1310px;height:auto;overflow:hidden;position:relative;margin:0 auto;padding:50px 0 45px 0;display:flex;justify-content:space-between}
.proImg{width:50%;padding:0 20px;box-sizing:border-box}
.proInfo{width:50%;padding-left:20px;box-sizing:border-box;padding: 0;}
.proImg .swiper-container{width:605px;height:330px}
.proImg .Bigswiper{margin-bottom:15px;width: 100%; }
.Bigswiper img{margin:0 auto;max-width: 100%;max-height: 100%;}
.Bigswiper .swiper-button-prev{background-image:url(/views/10000/static/img/left.png)!important;left:25px}
.Bigswiper .swiper-button-next{background-image:url(/views/10000/static/img/right.png)!important;right:25px}
.Bigswiper .swiper-button-next,.Bigswiper .swiper-button-prev{background-size:auto 100%}
#Smallswiper{position:relative}
.proImg .Smallswiper{width:345px;height:80px}
.Smallswiper .swiper-slide{height:80px;overflow:hidden}
.Smallswiper img{height:100%;width:auto}
.Smallswiper .swiper-slide.active-nav{box-sizing:border-box;border:2px solid #38bbff}
#Smallswiper .swiper-button-prev{left:80px}
#Smallswiper .swiper-button-next{right:80px}
#Smallswiper .swiper-button-next,#Smallswiper .swiper-button-prev{width:15px;height:25px;background-size:15px 25px;top:65%}
.proInfo h4{font-size:24px;line-height:44px;font-weight:400}
.proInfo .desc{font-size:14px;line-height:24px;padding-top:8px;color:#888}
.proInfo .prices{margin:22px 0;background:#e7f5fc;box-sizing:border-box;padding:10px 20px}
.proInfo .market{line-height:30px;padding-bottom:8px;height:30px;font-size:14px;color:#333}
.proInfo .preferential{line-height:30px;padding-bottom:8px;height:30px;font-size:14px;color:#333}
.market em{color:#999;text-decoration:line-through;font-style:normal;padding-left:8px}
.market span{color:#999;text-decoration:line-through}
.preferential em{font-size:24px;color:#ff7901;padding-left:8px;font-style:normal}
.preferential span{font-size:24px;color:#ff7901}
.proInfo .ser{width:100%;height:auto;overflow:hidden}
.proInfo li{width:50%;box-sizing:border-box;float:left;line-height:32px;font-size:14px;padding-right:20px}
.proInfo li em{font-style:normal;color:#333;padding-right:20px}
.proInfo li span{color:#999}
#proDetails{width:100%;height:auto;background:#efefef}
.proDetails{width:1310px;height:auto;padding:30px 0;display:flex;justify-content:space-between;margin:0 auto}
.proDetails .container{width:72%;height:auto;background:#fff;box-sizing:border-box;padding:0 20px}
.proDetails .slidebar{width:26%;height:auto;background:#fff;box-sizing:border-box;padding:0 20px}
.proDetails .slide_boot h3{padding-top:15px;padding-bottom:8px;line-height:48px;font-weight:400;color:#333;font-size:20px}
#proDetails .slide_boot li{border-bottom:none;padding-bottom:20px}
#proDetails .slide_boot img{width:100%;height:auto;box-sizing:border-box;border:1px solid #eee}
#proDetails .slide_boot p{text-align:center;font-size:16px;line-height:32px;padding-top:5px;color:#666}
#proDetails .container .title{font-size:16px;color:#333;line-height:32px;border-bottom:1px solid #eee;text-indent:18px;position:relative;height:36px;line-height:36px;padding-top:14px}
#proDetails .container .title::after{content:'';width:100px;height:2px;background:#535353;position:absolute;bottom:0;left:0}
#proDetails .container article{padding-top:14px;line-height:32px;font-size:14px;color:#666}
@media screen and (max-width:1350px){
    .Products {width:90%;}
}
@media screen and (max-width:768px){
    .Products {width: 94%;align-items:flex-end;flex-wrap:  wrap;flex-direction: column-reverse;padding: 20px 0;}
    .proImg {width:100%;}
    .proInfo {width:100%;}
}
#news_search .search,#pro_search .search{width:100%;height:34px;line-height:34px;padding:13px 0;background:#eee;position:relative;margin-bottom:20px;text-align:center;display:flex;justify-content:center}
#news_search .search select,#pro_search .search select{width:90px;background:#e3e3e3;border-radius:17px 0 0 17px;border:none;outline:0}
#news_search select option,#pro_search select option{border:none;text-align:center;background:#fff}
#news_search .search input,#pro_search .search input{width:500px;border:1px solid #fff;background:#fff;border-radius: 17px;padding: 0 40px 0 20px;color:#333;outline:0;}
#news_search .search input:focus,#pro_search .search input:focus{border:1px solid #03a9f485}
#news_search .search i,#pro_search .search i{margin-left:-40px;cursor:pointer}
#news_search .search i:hover,#pro_search .search i:hover{color:#00f}
#searchResult{width:1200px;margin:0 auto;line-height:1.5;font-size:14px;color:#888;padding-bottom:12px}
#searchResult span{color:#1b9bf5;padding:0 4px}
#jobsList,#newsList,#proList{width:100%;height:auto;overflow:hidden;background:#f3f2f2}
#jobsList .jobsList,#newsList .newsList,#proList .proList{width:1310px;height:auto;margin:0 auto;margin-bottom:30px;padding-top:36px;display:flex}
.newsLists{width:100%}
#jobsList .container,#newsList .container,#proList .container{width:72%;height:auto;box-sizing:border-box;background:#fff;padding-left:20px}
#proList .container .pro_List{width:100%;display:flex;flex-wrap:wrap;padding-top:36px}
#newsList .container .news_List a,#proList .container .pro_List a{display:block;width:210px;box-sizing:border-box;margin-right:20px}
#jobsList .slidebar,#newsList .slidebar,#proList .slidebar{width:26%;height:auto;box-sizing:border-box;padding:10px 20px 30px;background:#fff;margin-left:2%}
.slidebar a{width:100%;border:none;box-shadow:0 0 0;text-align:left;line-height:1.5;font-size:14px;padding:12px 0;border-bottom:1px solid #eee;margin:0;display:block;color:#333}
.slidebar a:hover{box-shadow:0 0 0}
#error{width:285px;margin:0 auto;padding:50px 0}
#error p{width:55%;margin:0 auto;font-size:14px;color:#888;line-height:3;text-align:center}
#nofound{margin:0 auto;padding:20px}
#caseList{width:100%;height:auto;position:relative;background:#efefef}
.caseList{width:1330px;height:auto;overflow:hidden;margin:0 auto;display:flex;flex-wrap:wrap;padding-top:36px}
.caseList a{display:block;width:245px;height:auto;text-align:center;margin:0 10px;margin-bottom:24px;overflow:hidden;background:#fff;color:#333;-webkit-box-shadow:0 2px 4px rgba(0,0,0,.05);box-shadow:0 2px 4px rgba(0,0,0,.05);-webkit-transition:all .2s linear;transition:all .2s linear}
.caseList a:hover{-webkit-box-shadow:0 10px 20px rgba(226,226,226,.8);box-shadow:0 10px 20px rgba(226,226,226,.8);-webkit-transform:translateY(-10px);transform:translateY(-10px)}
.caseList p{font-size:16px;line-height:70px;height:70px;transition:all .3s;width:100%;box-sizing:border-box;padding:0 12px}
.caseList img{width:100%;height:auto}
#Cases{width:100%;height:auto;background:#fff;margin-bottom:15px}
.Cases{width:1310px;box-sizing:border-box;padding:0 20px;margin:0 auto}
.Cases .title{overflow:hidden}
.Cases .title h4{font-size:24px;line-height:46px;padding-top:42px}
.Cases .setting{font-size:14px;line-height:32px;color:#999}
.Cases .setting li{width:175px;float:left}
.Cases .Bigswiper{width:100%;height:625px;padding:40px 0 30px 0}
.Cases .Bigswiper img{height:100%}
#Cases #Smallswiper{width:100%;height:100px;padding-bottom:30px;border-bottom:1px solid #eee}
#Cases .Smallswiper{width:900px;height:100%}
#Cases .Smallswiper .swiper-slide{height:auto}
#Cases .Smallswiper img{height:100%}
#Cases #Smallswiper .swiper-button-next,#Cases #Smallswiper .swiper-button-prev{width:15px;height:25px;background-size:15px 25px;top:50%}
#Cases #Smallswiper .swiper-button-prev{left:135px}
#Cases #Smallswiper .swiper-button-next{right:135px}
#Cases .prevCase{width:100px;height:100px;background:#e5e5e5;position:absolute;left:0;top:0;text-align:center}
#Cases .nextCase{width:100px;height:100px;background:#e5e5e5;position:absolute;right:0;top:0;text-align:center}
#Cases .nextCase a , #Cases .prevCase a {color:#666;}
#Cases .nextCase:hover,#Cases .prevCase:hover{background:#fff;transition:all .3s;cursor:pointer}
.nextCase i,.prevCase i{height:70px;color:#d1d1d1;text-align:center;display:block;font-size:44px}
.Cases>.desc{font-size:14px;line-height:24px;padding:30px 0 45px 0}
#caseDetails{width:100%;height:auto;background:#efefef;padding:15px 0 40px 0;overflow:hidden}
.caseDetails{width:1310px;height:auto;overflow:hidden;background:#fff;box-sizing:border-box;padding:0 20px;margin:0 auto}
.caseDetails .slide_boot{overflow:hidden}
.caseDetails .slide_boot h3{font-size:20px;line-height:32px;padding-top:22px;padding-bottom:15px}
.caseDetails ul li{float:left;width:300px;height:100%;padding:0;text-align:center;margin-right:22px}
.caseDetails ul li:nth-child(4n){margin:0}
.caseDetails ul li img{width:100%;height:auto;box-sizing:border-box;border:1px solid #eee}
.caseDetails ul li a{color:#666}
.caseDetails ul li a:hover{color:#666}
.caseDetails ul li p{font-size:16px;line-height:40px;padding-bottom:12px}
@media screen and (max-width:1350px){.Cases{width:96%}
.Cases .Bigswiper{height:500px}
#Cases .Smallswiper{width:80%}
#Cases .Smallswiper img{width:100%;height:auto}
.caseDetails{width:100%}
.caseDetails ul{display:flex;overflow:hidden;width:100%;justify-content:space-between}
.caseDetails ul li{width:22%}
}
@media screen and (max-width:960px){.Cases .Bigswiper{height:350px}
#Cases .Smallswiper{width:60%}
}
@media screen and (max-width:750px){.Cases .Bigswiper{height:200px}
.caseDetails ul li p{font-size:12px}
}
#News{width:100%;height:auto;background:#efefef;padding-bottom:35px}
.News{width:1310px;height:auto;overflow:hidden;margin:0 auto;padding-top:15px;display:flex;flex-wrap:nowrap;justify-content:space-between;align-items:  flex-start;}
.News .container{width:72%;height:auto;box-sizing:border-box;padding:0 20px;background:#fff;flex: 1;margin-right: 30px;}
.News .slidebar{width: 340px;height:auto;box-sizing:border-box;padding:0 20px;background:#fff;}
.News nav{width:100%;height:50px;line-height:50px;padding-top:6px;border-bottom:1px solid #eee}
.News nav a{font-size:16px;color:#333;line-height:50px;display:block;width:100px;text-align:center;float:left;position:relative}
.News nav a:hover , .News nav a.actor{color:#38bbff;transition:all .3s}
.News nav a.actor{color:#38bbff}
.News nav a.actor::after{position:absolute;width:100px;height:2px;background:#38bbff;bottom:0;left:0;content:''}
.newsLists>li{width:100%;height:auto;border-bottom:1px solid #eee;position:relative;padding:30px 0;display:flex}
.newsLists .img{width:160px;height:160px;overflow:hidden;position:relative;vertical-align:middle}
.newsLists img{display:block;width:100%;height:auto;}
.newsLists .newContent{padding-left:25px}
.newContent h3{font-size:22px;line-height:42px;font-weight:400}
.newContent .desc{padding-top:14px;line-height:24px;font-size:14px;color:#666;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.newsLists .setting{height:38px;line-height:38px;color:#bcbcbc;font-size:14px;padding-top: 20px;padding-bottom: 0;}
.newsLists .setting li{width:148px;float:left}
.newsLists .setting i{font-size:14px;color:#999;display:inline-block;padding-right:10px}
.newsLists a{display:block;overflow:hidden;color:#333;flex: 1;}
.newsLists a:hover h3{color:#38bbff}
.slidebar .search{width:100%;height:auto;position:relative;padding-top:20px}
.slidebar input{width:100%;height:34px;line-height:34px;border:1px solid #eee;border-radius:17px;box-sizing:border-box;outline:0;padding:0 20px}
.slidebar input:focus{border-color:#333;color:#38bbff}
.slidebar .search i{position:absolute;right:30px;top:24px}
.slidebar h3{font-size:18px;line-height:48px;font-weight:400;padding-top:20px;position:relative;padding-left:12px}
.slidebar h3::after{content:'';left:0;top: 35px;width:4px;height:20px;background:#03A9F4;position:absolute;}
.slidebar li a{display:block;width:100%;font-size:14px;color:#666;}
.slidebar li a img{width:100%;height:auto}
.slidebar li a p{line-height:3}
.slidebar a:hover{color:#38bbff;transition:none;transform:none}
.slidebar .img{width:100%;height:auto;overflow:hidden;padding:22px 0;margin-bottom:6px}
.slidebar .img img{width:100%;height:auto}
@media screen and (min-width:960px) and (max-width:1350px){.News{width:90%}
}
@media screen and (max-width:960px){.News{width:96%;flex-wrap:wrap}
.News .container{width:100%;margin-bottom:20px;margin-right:  0;}
.News .slidebar{width:100%;margin:0;margin-bottom:30px}
}
#jobsDetails,#newsDetails{width:100%;height:auto;background:#efefef}
#videoDetails{width:100%;height:auto;background:#fff}
.jobsDetails,.newsDetails{width:1310px;height:auto;padding:30px 0;display:flex;display:-webkit-flex;justify-content:space-between;margin:0 auto;overflow:hidden;align-items:  flex-start;}
.newsDetails .container{background:#fff;box-sizing:border-box;padding:0 20px;margin-right: 30px;flex: 1;}
.jobsDetails .container{width:100%;background:#fff;box-sizing:border-box;padding:0 20px 40px 20px;float:left}
.jobsDetails .container .title{font-size:24px;line-height:82px}
.jobsDetails .setting{border-bottom:1px solid #eee}
.jobsDetails article{padding-top:20px}
.videoDetails .container{width:100%}
.newsDetails .title{overflow:hidden;border-bottom:1px solid #eee;position:relative}
.videoDetails .title{border-bottom:none}
.newsDetails .title h4{padding-top:18px;font-size:30px;font-weight:400;line-height: 1.3;padding-bottom: 18px;padding-left: 0;text-indent: 0;}
.newsDetails .title a#down{width:148px;height:38px;background:#03A9F4;text-align:center;line-height:38px;position:absolute;top:25px;right:0;color:#fff;border-radius:5px;transition:all .5s}
.newsDetails .title a#down:hover{background:#03a9f49c;box-shadow:0 0 10px #eee;transition:all .5s}
.setting{height:16px;line-height:16px;padding-bottom:15px;font-size:14px;color:#999}
.setting li{float:left;overflow:hidden;}
.setting i{padding-right:8px}
.newsDetails article{padding:20px 0 40px 0}

.newsDetails article p{font-size:14px;color:#666;line-height:32px;text-indent:28px}
.newsDetails .slidebar{width: 340px;background:#fff;padding:0 16px;box-sizing:border-box;}
.videoDetails .details{margin-top:25px;display:flex;display:-webkit-flex;justify-content:space-between;align-items:flex-start}
.videoDetails .details .video{width:900px; margin-right: 20px;}
.videoDetails .details .video video{width:100%;height:auto}
.videoDetails .details .slidebar{background:#fafafa;box-shadow:0 0 10px #ccc}
.videoDetails .details .slidebar h5{font-size:18px;font-weight:400;line-height:62px;border-bottom:1px solid #eee}
.videoDetails .details .slidebar article{padding-top:18px;padding-bottom:25px;font-size:14px;line-height:24px;color:#888; min-height: 415px;}
#slide_bottom{background:#efefef;overflow:hidden}
.slide_bottom{width:1310px;background:#fff;margin:0 auto;margin-top:15px;margin-bottom:35px;box-sizing:border-box;padding:0 20px}
.slide_bottom h3{font-size:20px;line-height:70px;font-weight:400}
.slide_bottom ul.videos{overflow:hidden}
.slide_bottom ul.videos li{float:left;margin-right:40px;box-sizing:border-box;width:280px}
.slide_bottom ul.videos li:nth-child(4n){margin-right:0}
.slide_bottom ul.videos li a .img{width:100%;border:1px solid #eee;box-sizing:border-box;padding:10px;transition:all .5s}
.slide_bottom ul.videos li a:hover .img{background:rgba(0,0,0,.8);transition:all .5s;position:relative}
.slide_bottom ul.videos li a:hover .img::after{content:'';position:absolute;left:50%;top:50%;background:url(../img/play.png) no-repeat center;background-size:cover;width:100px;height:100px;margin-left:-50px;margin-top:-50px}
.slide_bottom ul.videos li a .img img{width:100%}
.slide_bottom ul.videos li a h5{line-height:60px;font-weight:400;font-size:16px;color:#333}
.slide_bottom ul.videos li a:hover h5{color:#2196F3}
#contact{width:100%;height:auto;background:#fff}
.contact{width:1310px;height:auto;margin:55px auto 105px;overflow:hidden}
.contact .img{width:45%;height:auto;float:left}
/*.contact img{width:100%}*/
.contactContent{width:50%;margin-left:5%;float:left}
.honorAA{ width: 100%; margin-left: 0; left: auto;}
.contact .honorAA p{ text-align: center;}
.contact .honorAA img{ width: 35%; display: inline-block; margin: 4px 8px;}
.contactContent h3{font-size:30px;line-height:42px;color:#333;padding-bottom:16px;border-bottom:1px solid #eee;font-weight:400}
.contactContent ul{padding-top:20px}
.contactContent li{line-height:30px;font-size:14px;color:#333}
@media screen and (max-width:1350px){
    .contact{width:90%}
    .jobsDetails,.newsDetails {width:90%;}
    #news_search .search input, #pro_search .search input{ width: 380px;}
    #searchResult{ width: 100%; box-sizing: border-box; padding-left: 8px;}
}
@media screen and (max-width:960px){
    .jobsDetails, .newsDetails {width:96%;}
    .newsDetails .slidebar {width:280px;}
    .newsDetails .container {margin-right:20px;}
    .contact .honorAA img{ width: 90%; display: inline-block; margin: 4px 8px;}
    #jobsList .jobsList, #newsList .newsList, #proList .proList{ flex-wrap: wrap;}
    #jobsList .container, #newsList .container, #proList .container{ width: 100%;}
    #jobsList .slidebar, #newsList .slidebar, #proList .slidebar{ width: 100%; margin-top: 10px;}
    .newsLists>li{ flex-wrap: wrap;}
    .newsLists>li>a{ display: block; width: 100%; }
    .header_r a{ font-size: 12px;}
    
    .jobsDetails, .newsDetails{ padding: 0;}
}
@media screen and (max-width:768px){.contact{width:96%}
    .contact .img{width:100%;margin-bottom:20px}
    .contactContent{width:100%}
    .jobsDetails, .newsDetails {flex-wrap:wrap;width: 100%;}
    .newsDetails .container {width:100%;margin-right:  0;margin-bottom: 20px;padding: 0 12px;}
    .newsDetails .slidebar {width:100%;}

    #news_search .search input, #pro_search .search input{ width: 280px;}


}
#help{width:100%;height:auto;background:#efefef}
.help{width:1310px;height:auto;padding:35px 0;overflow:hidden;margin:0 auto}
.helpContent{width:72%;background:#fff;float:left;box-sizing:border-box;padding:0 20px;position:relative}
.help .slidebar{width:26%;background:#fff;float:left;margin-left:2%;box-sizing:border-box;padding:0 20px}
.helpContent .title{font-size:18px;color:#333;line-height:56px;height:56px;border-bottom:1px solid #eee;position:relative;text-indent:12px}
.helpContent .title::after{content:'';position:absolute;left:0;bottom:0;width:100px;height:2px;background:#38bbff}
.helpContent>ul>li{padding:30px 0 15px 0;border-bottom:1px solid #eee;overflow:hidden}
.helpContent li>a{display:block;color:#333}
.helpContent li>a:hover{color:#38bbff}
.helpContent h3{font-size:22px;line-height:32px;padding-bottom:8px;font-weight:400}
.helpContent .desc{font-size:14px;color:#7a7a7a;line-height:24px;padding-bottom:20px}
.helpContent li>a:hover .desc{color:#38bbff}
.helpContent .setting{font-size:14px;color:#bcbcbc}
.helpContent .setting li{width:148px;float:left;line-height:40px}
.helpContent i{font-size:14px;color:#999}
#help .slidebar{padding-bottom:58px}
#help .slidebar.two h3{padding-top:25px}
@media screen and (min-width:960px) and (max-width:1350px){.help{width:90%}
.proList a{ width: 100%;}
}
@media screen and (max-width:960px){.help{width:96%;flex-wrap:wrap}
.help .helpContent{width:100%;margin-bottom:20px}
.help .slidebar{width:100%;margin:0;margin-bottom:30px}
}
#About{width:100%;height:auto;background:#ffffff}
.About{width:1310px;height:auto;padding:35px 0 228px 0;margin:0 auto}
.About img {max-width:100%; display:inline-block;}
.About p{font-size:14px;line-height:32px;color:#666}
@media screen and (max-width:1350px){
    .About {width:90%;}
}

#message{width:100%;height:auto;margin-bottom:50px}
.message{width:1310px;margin:0 auto}
.message h3{font-size:24px;line-height:32px;padding-top:35px;padding-bottom:20px;border-bottom:1px solid #eee;font-weight:400}
.message ul{width:880px;height:auto;overflow:hidden;margin:0 auto;padding:45px 0 70px 0}
.message li{width:100%;box-sizing:border-box;float:left;outline:0;margin-bottom:10px;height:auto}
.message li.address,.message li.content{width:100%;padding:0}
.message li span{font-size:16px;color:#999;line-height:44px;padding-right:10px}
.message li input{border:1px solid #eee;height:44px;line-height:42px;font-size:16px;width:75%}
.message li textarea{width:75%;line-height:24px;box-sizing:border-box;padding:0 5px;border:1px solid #eee}
.message li a{display:block;width:100px;height:38px;text-align:center;line-height:38px;background:#00a0e9;color:#fff;font-size:16px;float:left;margin-left:65px}
.message li a#reset{background:#eee;color:#b8b7b7}
#download{width:100%;height:auto;background:#efefef;padding:35px 0;}
.download{width:1310px;height:auto;margin:0 auto;display:flex;justify-content:space-between}
.download .container{width: 100%;height:auto;box-sizing:border-box;padding:0 20px;background:#fff;position:relative;flex: 1;margin-right: 25px;}
.download .slidebar{width: 340px;height:auto;box-sizing:border-box;padding:0 20px;background:#fff;}
.download h4{font-size:18px;line-height:32px;color:#333;padding:14px 0 10px 0;border-bottom:1px solid #eee;position:relative;text-indent:18px;font-weight:400}
.download h4::after{content:'';position:absolute;bottom:0;left:0;width:100px;height:2px;background:#38bbff}
.download dl,.help dl,.video dl{width:auto;position:absolute;top:30px;right:20px}
.download dl a,.help dl a,.video dl a{float:left;padding:0 10px;font-size:14px;color:#555;border-right:1px solid #ccc;line-height:1}
.download dl a:last-child,.help dl a:last-child,.video dl a:last-child{border:none}
.download dl a:hover,.help dl a:hover,.video dl a:hover , .download dl a.actor,.help dl a.actor,.video dl a.actor{color:#2196F3}
.download .container ul{width:100%;height:auto;padding-top:25px;padding-bottom:50px;overflow:hidden}
.download .container ul li{width:23%;height:auto;overflow:hidden;float:left;margin-right:20px;margin-bottom:35px}
.download .container ul li:nth-child(4n){margin-right:0}
.download .container li .img{width:100%;height:auto;overflow:hidden;border:1px solid #e5e5e5;box-sizing:border-box;padding:9px}
.download .container li img{width:100%;height:auto;box-sizing:border-box}
.download .container li h5{font-size:16px;line-height:32px;color:#333;padding-top:5px;font-weight:400;height:32px;overflow:hidden}
.download .container li .desc{font-size:14px;line-height:24px;color:#999}
.download .container li .setting{font-size:14px;color:#c9c9c9;font-size:14px;line-height:24px}
.download .container li .setting span{padding-left:8px}
.download .container li h5 a{box-sizing:border-box;padding:0 5px;color:#333;font-size:16px}
.download .container li h5 a:hover{color:#38bbff}
.download .container li #down{display:block;width:98px;height:32px;text-align:center;line-height:32px;color:#fff;font-size:14px;background:#38bbff;margin:0 auto;margin-top:14px}
@media screen and (max-width:1350px){
    .download {width:96%; margin:0 auto;}
}
@media screen and (max-width:960px){
    .download .slidebar {width:280px;}
}
@media screen and (max-width:768px){
    .download {width:100%; flex-wrap:wrap;}
    .download .container {margin:0; margin-bottom:25px;}
    .download .slidebar {width:100%;}
}
#job{width:100%;height:auto;background:#efefef;padding:35px 0}
.job{width:1310px;overflow:hidden;margin:0 auto;display: flex;justify-content: space-between;}
.job .container{width: 100%;float:left;box-sizing:border-box;padding:0 20px 20px 20px;background:#fff;flex: 1;margin-right: 25px;}
.job .container h3{line-height:60px;font-size:20px;border-bottom:1px solid #eee;position:relative;text-indent:15px;margin-bottom:15px;font-weight:400}
.job .container h3::after{content:'';position:absolute;left:0;bottom:0;width:124px;height:3px;background:#38bbff}
.jobContent{width:100%;height:auto;background:#fff}
.jobContent .title{padding-top:12px;border-bottom:1px solid #eee;overflow:hidden}
.jobContent .desc{padding:20px 20px 40px 20px}
.jobContent .title a{font-size:18px;line-height: 32px;color:#333;font-weight:400;height:32px;overflow:hidden;}
.jobContent .title a:hover{color:#38bbff}
.jobContent .title .setting{height:54px;color:#999;font-size:12px;line-height:54px;padding: 0;}
 .jobContent .title .setting li{  display:inline-block;} 
.jobContent .title .setting li i{padding-right:8px}
.jobContent dl{width:78%;margin:0 auto;padding:45px 0 35px 0}
.jobContent dl dt{font-size:20px;line-height:32px;font-weight:400;position:relative;text-indent:20px;margin-bottom:16px}
.jobContent dl dt::after{position:absolute;left:0;top:6px;width:10px;height:20px;background:#38bbff;content:''}
.jobContent dl dd{font-size:16px;color:#666;line-height:30px;position:relative;padding-left:18px}
.jobContent dl dd::after{content:'';position:absolute;top:14px;left:0;width:6px;height:6px;text-align:center;line-height:30px;border-radius:50%;background:#666}
.job .slidebar{width: 340px;height:auto;box-sizing:border-box;padding:0 20px;background:#fff;position:relative;float:right;}
#cats{width:100%;height:60px;line-height:60px}
#cats ul{width:1310px;height:60px;margin:0 auto;overflow:hidden;text-align:center}
#cats ul li{height:60px;float:left;text-align:center;font-size:16px;color:#eee;margin:0 15px;}
#cats ul li a{color:#333;display:  block;padding: 0 15px; position:relative;}
#cats ul li:hover a , #cats ul li a.actor{color:#38bbff}
#cats ul li:hover {border-bottom:3px solid #38bbff; box-sizing:border-box;}
#cats ul li a.actor::after {position:absolute; left:0; bottom:0; height:3px; background:#38bbff; content:''; width:100%;}
@media screen and (max-width:1350px){
    .job{width:96%}
    .jobContent dl{width:96%}
}

@media screen and (max-width:768px){
    .job{width:100%; flex-wrap:wrap;}
    .job .container {margin:0; margin-bottom:25px;}
    .job .slidebar {width:100%; } 
#message{ width: 95%; margin: 60px auto 50px;}
}
#video{width:100%;height:auto;background:#efefef;padding:35px 0}
.video{width:1310px;margin:0 auto;display:flex;justify-content:space-between;position:relative;}
.video .container{width:72%;height:auto;background:#fff;box-sizing:border-box;padding:0 20px;position:relative}
.video .slidebar{width:26%;height:auto;background:#fff;box-sizing:border-box;padding:0 20px}
.video .container h3{font-size:18px;line-height:32px;color:#333;font-weight:400;border-bottom:1px solid #eee;padding:14px 0 10px 0;position:relative;text-indent:20px}
.video .container h3::after{content:'';position:absolute;left:0;bottom:0;width:100px;height:2px;background:#38bbff}
.video .container ul.videos{width:100%;height:auto;overflow:hidden;display:flex;justify-content: space-around;padding-top:25px;flex-wrap: wrap;}
.video .container ul.videos li{width:31%;margin-bottom:30px}
.video .container ul.videos li>a{display:block;position:relative;transition:all .8s}
.video .container ul.videos li>a:hover h5{color:#38bbff}
.video .container ul.videos .img{width:100%;height:auto;overflow:hidden;border:1px solid #eee;padding:10px;box-sizing:border-box;border-radius:5px;position:relative;opacity:1;transition:all .5s}
.video .container ul.videos .mark{display:none;width:100%;height:100%;position:absolute;top:0;left:0;transition:all .8s}
.video .container ul.videos li a:hover .mark{transition:all .8s;display:block;background:rgba(0,0,0,.6)}
.video .container ul.videos .mark img.play{width:60px;position:absolute;left:50%;top:50%;margin-left:-30px;margin-top:-30px}
.video .container ul.videos img{width:100%;height:auto}
.video .container ul.videos h5{font-weight:400;font-size:16px;line-height:28px;color:#333;padding-top:20px;box-sizing:border-box;padding:0 10px}
.video .container ul.videos .desc{font-size:14px;line-height:24px;color:#999;box-sizing:border-box;padding:0 10px}
.video .container ul.videos .setting{font-size:12px;color:#c9c9c9;line-height:24px;box-sizing:border-box;padding:0 10px}
#Notice{width:100%;height:auto;background:#efefef;padding-bottom:35px}
.Notice{width:1310px;height:auto;overflow:hidden;margin:0 auto;padding-top:35px;display:flex;flex-wrap:nowrap;justify-content:space-between}
.Notice .container{width:100%;height:auto;box-sizing:border-box;padding:0 20px 20px 20px;background:#fff}
.container .title{font-size: 20px;line-height:3;text-indent:15px;position:relative;}
#Notice .container .title::after{position:absolute;left:0;bottom:0;width:110px;height:2px;background:#2196F3;content:''}
.Notice nav{width:100%;height:50px;line-height:50px;padding-top:6px;border-bottom:1px solid #eee}
.Notice nav a{font-size:16px;color:#333;line-height:50px;display:block;width:100px;text-align:center;float:left;position:relative}
.Notice nav a:hover{color:#38bbff;transition:all .3s}
.Notice nav a.actor{color:#38bbff}
.Notice nav a.actor::after{position:absolute;width:100px;height:2px;background:#38bbff;bottom:0;left:0;content:''}
.noticeLists>li{width:100%;height:auto;position:relative;padding:15px 0;display:flex;text-indent:15px;border-bottom:1px solid #eee;position:relative}
.noticeLists .newContent{padding-left:25px}
.newContent h3{font-size:22px;line-height:42px;font-weight:400}
.noticeLists a{display:block;overflow:hidden;color:#333}
.noticeLists a:hover{color:#38bbff}
.noticeLists>li a span{color:#ccc;position:absolute;right:0;padding-right:15px}
@media screen and (min-width:960px) and (max-width:1350px){.Notice{width:90%}
}
@media screen and (max-width:960px){.Notice{width:96%;flex-wrap:wrap}
.Notice .container{width:100%;margin-bottom:20px}
.Notice .slidebar{width:100%;margin:0;margin-bottom:30px}
}
#breadCrumbs{width:100%;background:#dedede;}
.breadCrumbs{width:1310px;line-height: 20px;padding:20px 0;margin:0 auto;}
.breadCrumbs .breadcrumb-item{color:#333;line-height:20px;font-size:14px;height:20px;display: inline-block;/* float:left; */position:relative;padding-right:24px;margin-right:16px;}
.breadcrumb-item:hover{cursor:pointer;color:#38bbff;transition:all .3s}
.breadcrumb-item:hover .breadcrumb-ul{display:block}
.breadcrumb-item::after{content:'/';position:absolute;right:0;top:0}
.breadcrumb-item:last-child::after{display:none}
.breadcrumb-item i.icon-home1{padding-right:10px}
.breadcrumb-item ul{display:none}
@media screen and (max-width:1350px){
    .breadCrumbs{width:96%}
}
@media screen and (max-width:768px){
    .breadCrumbs {padding:10px 0;}
    .breadCrumbs .breadcrumb-item {padding-right:15px;}
}
#kplay{width:100%;height:100%;background:rgba(0,0,0,.5);position:fixed;left:0;top:0;z-index:999;display:none}
#kplay video{width:50%;height:auto;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
#kplay i{display:block;width:80px;height:80px;background:rgba(0,0,0,.8);color:#aaa;font-size:55px;text-align:center;line-height:80px;cursor:pointer;position:absolute;top:0;right:0}
#kplay i:hover{transition:all .3s;background:#38bbff;color:#fff}

#nofound {width:100%; height: auto; margin:0 auto;}
#nofound img {margin:0 auto;}


#mapNav {width:100%;/* background: #222222; *//* border-bottom:  1px solid #333333; */border-bottom: 1px solid #eee;}
#mapNav ul{width: 1340px;padding: 25px 15px;display: flex;margin: 0 auto;flex-wrap:  wrap;}
#mapNav ul li a {font-size: 16px;color: #888888;line-height:  1;margin:5px 0;height: 16px;border-right: 1px solid #ccc;display:  block;padding: 0 25px;}
#mapNav ul li a:hover {color:#333;}
#mapNav ul li:last-child a {border-right: none;}
@media screen and (max-width:1290px){
    #mapNav ul  {width:100%;}
}
@media screen and (max-width:768px){
    #mapNav ul {width:96%;flex-wrap:wrap;padding: 20px 0;}
    #mapNav ul li a {padding:5px 10px; margin:5px 0; font-size:14px; border-right:none;}
    #mapNav ul li {width:25%; text-align:center;}
    #Cases .Smallswiper{ width: 100%;}
}

#sitemap{width:100%;padding-top: 100px;}
#sitemap .sitemap{width:1200px;margin:0 auto;overflow:hidden;padding:20px 0}
.sitemap .map{width:100%;height:auto;margin-bottom:40px}
.map h3{font-size:18px;line-height:60px;border-bottom:1px solid #eee}
.map .cat_One{padding-top:30px;line-height:32px;overflow:hidden}
.map .cat_One>li{width:25%;float:left;text-indent:20px;margin-bottom:40px}
.map .cat_One>li>a{font-size:14px;font-weight:700;color: #333;}
.map .cat_Two>li>a{font-size:14px;color:#555}
.map .cat_Three>li>a{font-size:14px;color:#bbb}
.map .cat_One li a:hover{color:#e51c60;text-decoration:underline}
@media screen and (max-width:1310px){
    #sitemap .sitemap {width:96%; margin:0 auto ;}
    #jobsList .jobsList, #newsList .newsList, #proList .proList{ width: 100%; }
}
@media screen and (max-width:768px){
    .map h3 {line-height: 2;}
    .sitemap .map {margin-bottom: 20px;}

    #job .job{ width: 100%; display: flex; display: -webkit-flex; flex-wrap: wrap; justify-content: flex-start; align-items: center;}
    #job .job .container{ width: 100%; min-height: 150px; }
    #job .job .slidebar{ width: 100%; margin-top: 10px;}


    #video .video{ width: 100%;  display: flex; display: -webkit-flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start;}
    #video .video .container{ width: 100%; min-height: 150px; padding: 0 8px;}
    #video .video .slidebar{ width: 100%; margin-top: 10px;}

    #download .download{ width: 100%;  display: flex; display: -webkit-flex; flex-wrap: wrap; justify-content: flex-start; align-items: center;}
    #download .download .container{ width: 100%; min-height: 150px;}
    #download .download .slidebar{ width: 100%; margin-top: 10px;}

    .help .slidebar{ padding: 0 10px;}

    .videoDetails .details .video video{ width: 100%; height: 100%;}
    .slide_bottom ul.videos li{ width: 96%; margin-right: 0; padding-bottom: 20px; border-bottom: 1px solid #f2f2f2;}
    .slide_bottom ul.videos li a h5{ line-height: 1.2em; text-align: center;}
    .slide_bottom ul.videos li a .img{ border: none;}
    .slide_bottom ul.videos li a .img img{ width: 60%; margin: 0 auto;}

    .download dl, .help dl, .video dl{ position: relative; top: 0; right: 0; margin-top: 22px;}
    .video .container ul.videos h5{ font-size: 13px;}
    .video .container ul.videos li{ width: 49%;}

    .video .container ul.videos{ justify-content: flex-start;}
    .helpContent>ul>li{ clear: both;}
    .helpContent h3{ font-size: 16px;}


}





/* 小屏及手机端 *****************************************************************************************************/
@media screen and (max-width:1200px){

 #nav{ overflow: auto; height: auto; min-height:60px;}
 img.logo{ float: none; display: inline;}
 .nav{height: auto; border: none; line-height: 50px;}   
 .nav ul.ul{ float: none;}
 .nav ul.ul>li{ float: none;}
 .navs{ position: absolute; right: 15px; float: none; padding: 15px; height: 40px;}
 .nav ul.ul>li:last-child a{ padding: 0 15px;}
 .nav ul.ul>li.active a{ color: #06a5ec; font-size: 15px;}
 .swiper-button-next ,.swiper-button-prev{ display: none;}
 .announcement{ padding: 0;}
 .announcement .swiper-wrapper{ padding: 0 12px; }
 #Case .case-pagination{ bottom: 8px;}
 #news h3{ padding-top:30px;}
 .nav ul{ display: none;}
 .navs{ display: block;}


#jobsList .jobsList, #newsList .newsList, #proList .proList{ width : 100%; overflow-x: hidden; padding-top: 15px;}
.proList a{ width: 100%; margin-bottom: 10px;}
.proList p{ line-height: 3em; height: auto;}

.News .container{ padding: 4px;}
.News nav a{ width: auto; padding: 0 12px; font-size: 14px;}
.News nav a.actor::after{ width: 0px;}
.newsLists li .img{ width: 34%; height: auto;}
.newsLists>li{ padding: 10px 3px; }
.newContent h3{ font-size: 15px; line-height: 1.6em; }
.newContent .desc{ font-size: 14px; line-height: 1.6em; padding-top: 6px;}
.newsLists .newContent{ padding-left: 10px;}
.newsLists .setting{ padding-top: 6px; line-height: 20px;}
.newsLists .setting li{ width: auto; margin-right: 10px;}
.proDetails{ width: 100%; flex-wrap: wrap;}
.proDetails .container{ width: 100%;}
.proDetails .slidebar{ width: 100%; margin-top: 10px;}
.proDetails .slidebar .slide_boot ul{ display: flex; display: -webkit-flex; flex-wrap: wrap; justify-content: space-around; align-items: flex-start;}
.proDetails .slidebar .slide_boot ul li{ width: 70%; margin: 0 1%; }
.proImg{ padding:0;}
.proImg .swiper-container{ height: auto;}
.proDetails .slidebar{ padding: 0 10px;}
#proDetails .container article{ min-height:200px; }

#Smallswiper .swiper-button-prev, #Smallswiper .swiper-button-next{ display: none;}
#Cases #Smallswiper{ height: auto; padding-bottom: 120px;}
#Cases .prevCase ,#Cases .nextCase{ top: 70px;}

.caseDetails ul{ flex-wrap: wrap; justify-content: center;}
.caseDetails ul li{ width: 68%; margin-right: 0;}

.video{ width: 100%;}


.caseList{ width: 100%; padding-top: 10px;}
.caseList a{ width: 48%; margin: 10px 1%;}

.newsDetails .title h4{ font-size: 18px; margin-top: 0;}


#videoDetails .details{ width: 100%; flex-wrap: wrap; -ms-flex-wrap: wrap;}
#videoDetails .details .video{ width: 100%; margin-right: 0;}
#videoDetails .details  .slidebar{ width: 100%; margin-top: 20px;}
.videoDetails .details .slidebar article{ min-height: 100px;}

#slide_bottom .slide_bottom{ width: 100%;}
.slide_bottom ul.videos{ width: 100%;}




}

@media screen and (min-width:500px) and (max-width:1200px){
    #Cases .Smallswiper{ width: 60%;}
    #Cases .prevCase ,#Cases .nextCase{ top: 0px;}
}

@media screen and (max-width:768px){
    .caseDetails ul {display:flex; justify-content:space-between;}
    .caseDetails ul li {width:48%;}
    .caseDetails ul li a {padding: 0 0 10px 0;border:none;}
    .caseDetails ul li p {padding-bottom:0;height:  36px;overflow: hidden;}
    .proList a{ width: 100%;}
}